* {outline: none}
@font-face {
	font-family: lazing;
	src: url('../fonts/lazing_on_a_sunny_afternoon.ttf');
}

@font-face {
	font-family: dream;
	src: url('../fonts/dram orphans.ttf');
}

html {
	background-color: #A679B5;
	background-image: url('../images/background.png');
	height: 100%;
	min-width: 1024px;
	position: relative;
	overflow: hidden;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100%;
	min-width: 1024px;
	margin: 0;
	z-index:-2;
	overflow: hidden;
}

#mask {
	width:600%;
	height:100%;
	overflow:hidden;
}

div#container{
	width: 100%;
	height: 100%;
	min-width: 1024px;
	margin: 0;
	position: absolute;
	top: 0;
	left:0;
	overflow: hidden;
	z-index: 0;
}

h1 {
	font-family: 'lazing';
	font-size: 30px;
	color: #462552;
	padding-left: 10px;
}

h2 {
	font-family: 'lazing';
	font-size: 20px;
	color: #462552;
}

a {
	color: #F5E6FA
}

a:hover {
	color: #D6AFFA
}

a#logolink{
	display: block;
	width: 150px;
	height: 170px;
	margin: 0px 0px 0px 10px;
	background-image: url(../images/Logo.png);
	float: left;
	position: relative;
	x-index: 999;
}

a#aboutlink {
	display: block;
	width: 110px;
	height: 40px;
	margin: 0px 0px 0px 0px;
	background-image: url(../images/AboutLink.png);
}

a#twiglink {
	display: block;
	width: 110px;
	height: 40px;
	margin: 0px 0px 0px 0px;
	background-image: url(../images/TwigLink.png);
}

a#audlink {
	display: block;
	width: 110px;
	height: 40px;
	margin: 0px 0px 0px 0px;
	background-image: url(../images/AuditionLink.png);
}

a#memberlink {
	display: block;
	width: 110px;
	height: 40px;
	margin: 0px 0px 0px 0px;
	background-image: url(../images/MembersLink.png);
}

a#archivelink {
	display: block;
	width: 110px;
	height: 40px;
	margin: 0px 0px 0px 0px;
	background-image: url(../images/ArchiveLink.png);
}

a#contactlink {
	display: block;
	width: 110px;
	height: 40px;
	margin: 0px 0px 0px 0px;
	background-image: url(../images/ContactLink.png);
}

a.pagelink {
	width: 110px;
	height: 40px;
	margin-top: 5px;
}

a.pagelink:hover, a:focus{
	background-position: -100% 0px;
}

a.auditionlink{
	display: block;
	width: 160px;
	height: 160px;
	transition: 0.5s;
}

a.auditionlink:hover, a:focus {
	/*when I get the actual images*/
	background-position: -100% 0px;
}

a.memlink{
	display: block;
	width: 160px;
	height: 160px;
	background: black;
	transition: 0.5x;
}

a.memlink:hover, a:focus {
	opacity: 0.7;
}

a#acting {
 	background-image: url('../images/Acting.png');
}

a#directing {
	background-image: url('../images/Directing.png');
}

a#writing {
	background-image: url('../images/Writing.png');
}

a#lighting {
	background-image: url('../images/Lighting.png');
}

a#sound {
	background-image: url('../images/Sound.png');
}

a#costume {
	background-image: url('../images/Costumes.png');
}

a#props {
	background-image: url('../images/Props.png');
}

a#set {
	background-image: url('../images/Set.png');
}

p {
	font-family: 'Arial';
	font-size: 13px;
	line-height: 15px;
	color: #F5E6FA
}

twig {
	font-family: 'dream';
	font-size: 20px;
}

ul {
	list-style-type: none;
}

div#header {
	position: fixed;
	top:0px;
	left:0px;
	min-width:1024px;
	width: 100%;
	height: 40px;
	background-color: #905DA1;
	z-index: 100;
}

div#home {
	position: relative;
	width: 17%;
	min-width: 1024px;
	height: 112%;
	z-index: 10;
	float: left;
}

div#about {
	position: relative;
	width: 17%;
	min-width: 1024px;
	height: 112%;
	z-index: 10;
	float: left;
}

div#twig {
	position: relative;
	width:17%;
	min-width: 1024px;
	height: 112%;
	z-index: 10;
	float: left;
}

div#audition {
	position: relative;
	width:17%;
	min-width: 1024px;
	height: 112%;
	z-index: 10;
	float: left;
}

div#members {
	position: relative;
	width:17%;
	min-width: 1024px;
	height: 112%;
	z-index: 10;
	float: left;
}

div#archives {
	position: relative;
	width: 17%;
	min-width: 1024px;
	height: 112%;
	z-index: 10;
	float: left;
}

div#contact {
	position: relative;
	width:17%;
	min-width: 1024px;
	height: 112%;
	z-index: 10;
	float: left;
}

.box {
	position: absolute;
	width: 780px;
	height: 560px;
	background-color: #905DA1;
	background: rgba(144, 93, 161, 0.8);
	top: 50%;
	left: 50%;
	margin-top: -280px;
	margin-left: -390px;
}

div#homebox {
	width: 780px;
	height: 430px;
	
}

div#hometitle {
	width: 760px;
	height: 80px;
	margin-top: -30px;
	display: block;
	background-color: #905DA1;
	background: rgba(144, 93, 161, 0.8);
}

div#aboutbox {
	position: absolute;
	width: 780px;
	height: 560px;
	top: 50%;
	left: 50%;
	margin-top: -280px;
	margin-left: -390px;
}

div#abouttop {
	width: 780px;
	height: 200px;
	background-color: #905DA1;
	background: rgba(144, 93, 161, 0.8);
}

div#aboutbottom {
	margin-top: 20px;
	width: 780px;
	height: 230px;
	background-color: #905DA1;
	background: rgba(144, 93, 161, 0.8);
}

div#contactbox {
	position: absolute;
	width: 780px;
	height: 560px;
	top: 50%;
	left: 50%;
	margin-top: -280px;
	margin-left: -390px;
}

div#contacttop {
	width: 720px;
	height: 260px;
	background-color: #905DA1;
	background: rgba(144, 93, 161, 0.8);
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-left: 30px;
}

div#contactbottom {
	margin-top: 20px;
	width: 780px;
	height: 235px;
	background-color: #905DA1;
	background: rgba(144, 93, 161, 0.8);
	padding: 10px;
}

div#twigbox {
	position: absolute;
	width: 780;
	height: 450px;
	top: 50%;
	left: 50%;
	margin-top: -257px;
	margin-left: -410px;
	padding:30px;
	background: rgba(144, 93, 161, 0.8);
}

div#audbox {
	position: absolute;
	width: 760;
	height: 560;
	top: 50%;
	left: 50%;
	margin-top: -257px;
	margin-left: -410px;
	padding: 30px;
}

div#audtop {
	width: 720px;
	height: 125px;
	background-color: #905DA1;
	background: rgba(144, 93, 161, 0.8);
}

div#audbox table {
	position: relative;
	top: 15px;
	left: 25px;
}

div#audbox table tr td {
	padding: 5px
}

div#membox {
	position: absolute;
	width: 780px;
	height: 600px;
	top: 50%;
	left: 50%;
	margin-top: -350px;
	margin-left: -390px;
}

div#membox table{
	position: relative;
	top: 15px;
	left: 25px;
}

div#memtop {
	width: 780px;
	height: 200px;
	display: block;
	background-color: #905DA1;
	background: rgba(144, 93, 161, 0.8);
	overflow:auto;
	
}

div#membottom {
	width: 780px;
	height: 300px;
	display: block;
	margin-top: 20px;
	background-color: #905DA1;
	background: rgba(144, 93, 161, 0.8);
	overflow: auto;
}

div#gallbox {
	position: absolute;
	width: 760;
	height: 450px;
	top: 50%;
	left: 50%;
	margin-top: -257px;
	margin-left: -410px;
	padding:30px;
	background: rgba(144, 93, 161, 0.8);
	overflow: auto;
}

div.case{
	float: right;
	width: 260px;
	height: 460px;
	padding: 20px;
	background-color: #c4d5ce;
}

div.clear{
	clear: both;
}

/*Navigation shit*/
ul#navigation {
	height: 40px;
	list-style-type: none;
	margin: 0 190px;
	position: relative;
	width: 900px;
	z-index: 1000;
}

ul#navigation li {
	float: left;
	line-height: 60px;
	list-style-type: none;
	padding-right: 20px;
	z-index: 1000;
	margin-right: 0px;
}
